<div id="cookies">
  <div class="cookies">
    <div class="inner-cookies">
      <h5 class="title-bold">Nós usamos cookies</h5>
      <p>Eles são usados para aprimorar a sua experiência. Ao fechar este banner ou continuar na página, você concorda
        com
        o uso de cookies. <a href="../assets/docs/POL SGI 02 - Política de Privacidade - Rev 00.pdf" target="_blank"
          rel="noopener noreferrer">Politicas de Privacidade.</a></p>
    </div>
    <div class="inner-cookies">
      <button class="btn btn-primary" onclick="cookies()">PERMITIR TODOS OS COOKIES</button>
    </div>
  </div>
</div>

<div class="container pd-2">
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <a href="../index.html">
        <img id="logoFooter" class="logo-aproms" src="../assets/img/logo/logo_apromsnet_navbar_fixed.svg"
          alt="Logo Aproms">
      </a>
    </div>
    <div class="col-lg-3 col-md-6">
      <p>Trabalhe conosco</p>
      <span>Clique <a class="color-white" href="mailto:rh@aproms.com.br">aqui</a> <br> para enviar seu
        currículo</span>
    </div>
    <div class="col-lg-3 col-md-6">
      <p>Links</p>
      <ul class="list-unstyled">
        <li>
          <a href="../pages/about-us.html">Quem somos</a>
        </li>
        <li>
          <a href="../pages/document-management.html">Transportadora</a>
        </li>
        <li>
          <a href="../pages/accredited-network.html">Posto</a>
        </li>
        <li>
          <a href="../index.html#contacts">Contatos</a>
        </li>
        <li>
          <a target="_blank" href="../assets/docs/POL SGI 02 - Política de Privacidade - Rev 00.pdf">Privacidade</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-6">
      <p>Fale conosco</p>
      <ul class="list-unstyled">
        <li>
          <i class="fas fa-phone-square-alt"></i>
          <span>(67)3424-9876</span>
        </li>
        <li>
          <i class="fas fa-envelope"></i>
          <a href="mailto:aproms@aproms.com.br" class="social-network">aproms@aproms.com.br</a>
        </li>
        <li>
          <i class="fab fa-facebook-square"></i>
          <a href="https://www.facebook.com/aproms.br" target="_blank" class="social-network">/aproms.br</a>
        </li>
        <li>
          <i class="fab fa-instagram"></i>
          <a href="https://www.instagram.com/aproms.br/" target="_blank" class="social-network">@aproms.br</a>
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="text-center">
    <p>Rua Doutor Nelson de Araújo, 340, 1º andar - Jd. América. CEP 79804-040 Dourados, MS</p>
    <p>Copyright © Todos direitos reservados | by APROMS</p>
  </div>
</div>