<div id="modalLogin" class="modal">
  <div>
    <a title="Fechar" class="close btn-access-system" onclick="showObject('div#modalLogin')"><i
        class="fas fa-times"></i></a>
    <div class="login-user-icon"><i class="fas fa-user"></i></div>
    <h2 class="mb-3">Login</h2>
    <form action="">
      <div class="row mb-3">
        <div class="col-12">
          <label for="cnpj">CNPJ</label>
          <input type="text" class="form-control" id="cnpj" name="cnpj" placeholder="Somente números">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <label for="login">Login</label>
          <input type="text" class="form-control" id="login" name="login" placeholder="Não use espaços">
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12">
          <label for="pass">Senha</label>
          <input type="password" class="form-control" id="pass" name="pass" placeholder="Não use espaços">
        </div>
      </div>
      <div class="row mb-3 button-form-submit">
        <div class="col-12 mb-3">
          <button type="button" class="btn btn-lg btn-login" onclick="loginSystem()">Login</button>
        </div>
        <div class="col-12">
          <button type="button" class="forgot-password" onclick="showObject('div#modalForgotPassword')">Esqueci minha
            senha</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div id="modalCalcDesconto" class="modal">
  <div>
    <a title="Fechar" class="close btn-open-calcdesconto" onclick="showObject('div#modalCalcDesconto')"><i
        class="fas fa-times"></i></a>
    <h2 class="mb-3">Calcular quebra</h2>
    <hr>
    <form id="formCalculoDesconto" action="">
      <div class="innerform-flexbox">
        <div class="item-innerform-flexbox">
          <div class="row mb-3">
            <div class="col-12">
              <label for="pesoSaida">PESO SAÍDA (KG)</label>
              <input type="text" class="form-control" id="pesoSaida" name="pesoSaida" placeholder="Somente números">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <label for="pesoChegada">PESO CHEGADA (KG)</label>
              <input type="text" class="form-control" id="pesoChegada" name="pesoChegada" placeholder="Somente números">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <label for="valorMercadoria">VALOR DA MERCADORIA</label>
              <input type="text" class="form-control" id="valorMercadoria" name="valorMercadoria"
                placeholder="Somente números">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <label for="valorFrete">VALOR DO FRETE</label>
              <input type="text" class="form-control" id="valorFrete" name="valorFrete" placeholder="Somente números">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <label for="valorAdiantamento">VALOR ADIANTAMENTO</label>
              <input type="text" class="form-control" id="valorAdiantamento" name="valorAdiantamento"
                placeholder="Somente números">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <label for="tipoQuebra">TIPO DE QUEBRA</label>
              <select id="tipoQuebra" class="form-select" aria-label="Default select example" name="tipoQuebra">
                <option value="">-- Escolha a sua opção --</option>
                <option value="integral">INTEGRAL</option>
                <option value="parcial">PARCIAL</option>
              </select>
            </div>
          </div>
        </div>
        <div class="item-innerform-flexbox">
          <div class="row mb-3">
            <div class="col-12">
              <label for="tolerancia">% TOLERANCIA</label>
              <input type="text" class="form-control" id="tolerancia" name="tolerancia" placeholder="Somente números">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <label for="valorPedagio">VALOR PEDÁGIO</label>
              <input type="text" class="form-control" id="valorPedagio" name="valorPedagio"
                placeholder="Somente números">
              <div>
                <input type="checkbox" class="form-check-input" id="check-pedagio" checked>
                <label class="form-check-label" for="check-pedagio"><small>incluído no adiantamento?</small></label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <label for="valorEstadia">VALOR ESTADIA</label>
              <input type="text" class="form-control" id="valorEstadia" name="valorEstadia"
                placeholder="Somente números">
              <div>
                <input type="checkbox" class="form-check-input" id="check-estadia">
                <label class="form-check-label" for="check-estadia"><small>incluído no adiantamento?</small></label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <label for="valorSestSenat">SEST/SENAT</label>
              <input type="text" class="form-control" id="valorSestSenat" name="valorSestSenat"
                placeholder="Somente números">
            </div>
          </div>
        </div>
        <div class="item-innerform-flexbox">
          <div class="row mb-3">
            <div class="col-12">
              <label for="valorSeguroCarga">SEGURO CARGA</label>
              <input type="text" class="form-control" id="valorSeguroCarga" name="valorSeguroCarga"
                placeholder="Somente números">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <label for="valorInss">INSS</label>
              <input type="text" class="form-control" id="valorInss" name="valorInss" placeholder="Somente números">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <label for="valorIcms">ICMS</label>
              <input type="text" class="form-control" id="valorIcms" name="valorIcms" placeholder="Somente números">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <label for="valorIrrf">IRRF</label>
              <input type="text" class="form-control" id="valorIrrf" name="valorIrrf" placeholder="Somente números">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <label for="valorTaxaAdm">TAXA ADM.</label>
              <input type="text" class="form-control" id="valorTaxaAdm" name="valorTaxaAdm"
                placeholder="Somente números">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <label for="valorOutros">OUTROS</label>
              <input type="text" class="form-control" id="valorOutros" name="valorOutros" placeholder="Somente números">
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3 button-form-submit">
        <div class="col-12 mb-3">
          <button type="button" class="btn btn-lg btn-calcdesconto"
            onclick="calculoQuebra('form#formCalculoDesconto')">Calcular</button>
        </div>
      </div>
      <hr>
      <div class="row w-100" style="margin: 0 auto;">
        <div class="innerform-flexbox">
          <div class="item-innerform-flexbox">
            <label for="valorQuebra">VALOR DA QUEBRA (R$)</label>
            <input type="text" class="form-control" id="valorQuebra" name="valorQuebra" disabled>
          </div>
          <div class="item-innerform-flexbox">
            <label for="valorAPagar">VALOR A PAGAR (R$)</label>
            <input type="text" class="form-control" id="valorAPagar" name="valorAPagar" disabled>
          </div>
          <div class="item-innerform-flexbox">
            <label for="valorDesconto">TOTAL DE DESCONTOS (R$)</label>
            <input type="text" class="form-control" id="valorDesconto" name="valorDesconto" disabled>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div id="modalForgotPassword" class="modal">
  <div>
    <a title="Fechar" class="close btn-access-system" onclick="showObject('div#modalForgotPassword', 1)"><i
        class="fas fa-times"></i></a>
    <h2 class="mb-3">Recuperar senha</h2>
    <form action="">
      <div class="row mb-3">
        <div class="col-12">
          <small class="m">Para recuperar sua senha, informe CNPJ e login ou email para receber instruções no seu
            email</small>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <label for="cnpjForgot">CNPJ</label>
          <input type="text" class="form-control" id="cnpjForgot" name="cnpjForgot" placeholder="Somente números">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <label for="userOrEmail">Usuário ou email</label>
          <input type="text" class="form-control" id="userOrEmail" name="userOrEmail" placeholder="Não use espaços">
        </div>
      </div>
      <div class="row mb-3 button-form-submit">
        <div class="col-12 mb-3">
          <button type="button" class="btn btn-forgot" onclick="loginForgot()">Enviar</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div id="modalLGPD" class="modal">
  <div>
    <a title="Fechar" class="close btn-access-system" onclick="showObject('div#modalLGPD', 1)"><i
        class="fas fa-times"></i></a>
    <div class="row mb-3">
      <div class="col-12">
        <p>Nosso encarregado de dados: <br> Rogério Duarte de Souza</p>
        <p>E-mail para contato: <a href="mailto:dpo@aproms.com.br">dpo@aproms.com.br</a></p>
      </div>
    </div>
  </div>
</div>
<div id="modalConsultaCIOT" class="modal">
  <div>
    <a title="Fechar" class="close btn-access-system" onclick="showObject('div#modalConsultaCIOT', 1)"><i
        class="fas fa-times"></i></a>
    <div class="row mb-3">
      <form id="idConsultaCIOT" method="POST">
        <div class="modal-header">
          <h5 class="modal-title">Consultar Operação de Transporte</h5>
        </div>
        <div class="modal-body">
          <p class="mb-0 pb-0 ">CNPJ Contratante</p>
          <input class="col-12 form-control mt-0" type="text" id="idCnpjContratante" name="contratante" maxlength="18">
          <p class="mb-0 pb-0 mt-2">Informe o código para consultar o CIOT</p>
          <input class="col-12 form-control" type="text" id="idCiotConsulta" name="CIOT">
          <span class="span-ciot-erro"></span>
          <div class="alert alert-danger ciot-error mt-2 d-none" role="alert"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
            onclick="showObject('div#modalConsultaCIOT', 1)">Fechar</button>
          <button type="submit" class="btn btn-success text-white">Consultar</button>
        </div>
      </form>
    </div>
  </div>
</div>
