<!-- navbar absolute -->
<nav class="navbar navbar-expand-lg navbar-light bg-light my-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="../index.html">
      <img id="logoContent" class="my-logo" src="../assets/img/logo/logo_apromsnet_navbar.svg" alt="Aproms logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../index.html">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../pages/about-us.html">Sobre nós</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Produtos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item btn-open-calcdesconto" onclick="showObject('div#modalCalcDesconto')">Calcular quebra</a></li>
            <li><a class="dropdown-item" href="../pages/document-management.html">Gestão de documentos</a></li>
            <li><a class="dropdown-item" href="../pages/frota-card.html">Cartão frota</a></li>
            <li><a class="dropdown-item" href="#">Cartão frete</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../pages/accredited-network.html">Seja rede credenciada</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../index.html#contacts">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../pages/helper.html">Ajuda</a>
        </li>
      </ul>
      <button class="btn btn-access-system" type="button" onclick="showObject('div#modalLogin')">Acessar sistema</button>
    </div>
  </div>
</nav>
<!-- navbar fixed -->
<nav class="navbar navbar-expand-lg navbar-light bg-light my-navbar-fixed">
  <div class="container-fluid">
    <a class="navbar-brand" href="../index.html">
      <img id="logoFixed" class="my-logo" src="../assets/img/logo/logo_apromsnet_navbar_fixed.svg" alt="Aproms logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContentFixed"
      aria-controls="navbarSupportedContentFixed" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContentFixed">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../index.html">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../pages/about-us.html">Sobre nós</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Produtos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item btn-open-calcdesconto" onclick="showObject('div#modalCalcDesconto')">Calcular quebra</a></li>
            <li><a class="dropdown-item" href="../pages/document-management.html">Gestão de documentos</a></li>
            <li><a class="dropdown-item" href="../pages/frota-card.html">Cartão frota</a></li>
            <li><a class="dropdown-item" href="#">Cartão frete</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../pages/accredited-network.html">Seja rede credenciada</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../index.html#contacts">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../pages/helper.html">Ajuda</a>
        </li>
      </ul>
      <button class="btn btn-access-system" onclick="showObject('div#modalLogin')">Acessar sistema</button>
    </div>
  </div>
</nav>
