@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "colors.css";

body {
  font-family: "Poppins", sans-serif;
}

section:first-child {
  padding: 0 0;
}

section {
  padding: 2rem 0;
  color: var(--primary-color);
}

.fas {
  color: var(--orange);
}

.fab {
  color: var(--orange);
}

/* NAVBAR */
.my-navbar {
  position: absolute;
  padding: 1rem 4rem;
  background: transparent !important;
  border-bottom: 1px solid #fff;
  width: 100%;
  z-index: 999;
}

.my-navbar-fixed {
  position: fixed;
  padding: 1rem 4rem;
  background: var(--white) !important;
  border-bottom: 1px solid var(--primary-color);
  width: 100%;
  z-index: 999;
}

#banners {
  padding-top: 6rem;
}

.my-navbar-fixed-animation {
  z-index: 999;
}

.my-navbar-fixed #navbarSupportedContentFixed .nav-item .nav-link {
  text-transform: uppercase;
  font-weight: normal;
  color: var(--primary-color) !important;
  padding: 0 0.8rem !important;
}

.my-navbar-fixed #navbarSupportedContentFixed .btn-access-system {
  background: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 2rem;
  color: var(--primary-color);
  text-transform: uppercase;
}

.my-navbar-fixed #navbarSupportedContentFixed .btn-access-system:hover {
  background: var(--primary-color);
  color: #fff;
}

/* .nav-item:first-child {
  padding-left: 2rem !important;
} */

.my-navbar #navbarSupportedContent .nav-item .nav-link {
  text-transform: uppercase;
  font-weight: 300;
  color: #fff !important;
  padding: 0 0.8rem !important;
}

/* LOGO */
.my-logo {
  width: 10rem;
}

/* BUTTON */
button.btn-access-system {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 2rem;
  color: #fff;
  text-transform: uppercase;
}

button.btn-access-system:hover {
  background: #fff;
}

/* ABOUT APROMS */
#about-aproms {
  padding: 2rem 0;
  text-align: center;
  color: var(--primary-color);
}

section#about-aproms div.row:first-child {
  padding: 0.5rem 0;
}

section#about-aproms div.row {
  padding: 1rem 0;
}

section#about-aproms div.row:last-child {
  padding: 0.4rem 0;
}

section#about-aproms div.row p,
.about-link {
  color: #000;
}

section#about-aproms div.row h2 {
  font-weight: 300;
}

section#partner {
  padding: 0;
  color: var(--primary-color);
}

/* SOLUTIONS */
#solutions {
  background-color: var(--grey-light);
  padding: 1.5rem 0;
}

#solutions .cards-solutions {
  text-align: center;
  margin: 0.5rem 0;
}

#solutions .cards-solutions {
  border-radius: 5px;
  color: var(--primary-color);
  padding: 1rem;
}

#solutions .cards-solutions:hover {
  background-color: var(--primary-color);
  color: #fff;
}

#solutions .cards-solutions .cards-solutions-item img {
  padding-bottom: 2rem;
}

#solutions .cards-solutions .cards-solutions-item img.icon-file {
  width: 4.5rem;
}

#solutions .cards-solutions .cards-solutions-item span a {
  color: var(--primary-color);
  display: block;
}

#solutions .cards-solutions .cards-solutions-item .title-bold {
  text-transform: uppercase;
}

/* COMMERCIAL */
#commercial .commercial-container {
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

#commercial .commercial-container .commercial-img {
  width: 45rem;
}

#commercial .commercial-container .commercial-item {
  text-align: center;
}

#commercial .commercial-container .commercial-item h2,
#commercial .commercial-container .commercial-item p,
#commercial .commercial-container .commercial-item a {
  color: var(--primary-color);
}

#commercial .commercial-container .commercial-item p {
  padding-bottom: 4rem;
  font-size: 20px;
}

#commercial .commercial-container .commercial-item a.btn-commercial {
  border: 1px solid var(--primary-color);
  border-radius: 2rem;
}

#commercial .commercial-container .commercial-item a.btn-commercial:hover {
  background-color: var(--primary-color);
  color: #fff;
}

/* PARTNER */
.btn-wrap {
  position: absolute;
  z-index: 1;
  top: 86%;
  left: 42%;
  width: 20rem;
  height: 2.5rem;
  margin: -15px 0 0 -30px;
  border: 1px solid var(--white);
  border-radius: 2rem;
  color: var(--white);
}

.btn-wrap:hover {
  background-color: var(--white);
  color: var(--primary-color);
}

/* MAP */
#maps .row {
  text-align: center;
  padding: 2.5rem 0;
  color: var(--primary-color);
}

#maps .row:last-child {
  padding-top: 0rem;
  padding-bottom: 2.5rem;
}

#maps .row .maps-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3rem;
}

#maps #map {
  width: 70%;
  height: 100%;
  border-radius: 5px;
}

#maps .form-route {
  width: 100%;
  text-align: left;
}

#maps .div-start,
#maps .div-end {
  margin-top: 2rem;
}

#maps .form-select:first-child {
  margin-bottom: 1rem;
}

#maps .btn-form-posto {
  border: 1px solid var(--primary-color);
  border-radius: 2rem;
  color: var(--primary-color);
}

#maps .btn-form-posto:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

/* ASK */
#ask {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--white);
  padding: 2rem;
}

#ask a.color-white:hover {
  color: var(--orange);
}

#ask .div-form-ask {
  display: flex;
  justify-content: center;
}

#ask .form-ask {
  width: 60%;
}

#ask .btn-form-ask {
  border: 1px solid var(--white);
  border-radius: 2rem;
  color: var(--white);
}

#ask .btn-form-ask:hover {
  background-color: var(--white);
  border-color: var(--primary-color);
  color: var(--primary-color);
}

/* CONTACTS */
#contacts {
  padding: 2rem 0;
  text-align: center;
  color: var(--primary-color);
}

#contacts .flexbox-contacts {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#contacts .flexbox-item-contacts {
  flex-basis: 35%;
}

/* FOOTER */
footer {
  background-color: var(--grey);
  color: var(--white);
}

footer .container .logo-aproms {
  width: 15rem;
}

footer .container ul li a {
  color: var(--white);
}

footer .container ul li a:hover {
  color: var(--orange);
}

footer .container ul li a.social-network {
  color: var(--white);
  text-decoration: none;
}

footer .container ul li a.social-network:hover {
  color: var(--orange);
}

.btn-open-calcdesconto {
  cursor: pointer;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
}

.modal > div {
  width: 400px;
  position: relative;
  background: #fff;
  border-radius: 5px;
  text-align: center;
}

#modalLogin.modal > div {
  padding: 60px 20px 15px 20px;
  margin: 8rem auto;
}

#modalForgotPassword.modal > div {
  padding: 20px;
  margin: 8rem auto;
}

#modalCalcDesconto.modal > div {
  width: 70%;
  padding: 30px 20px 30px 20px;
  margin: 2% auto;
}

#modalLGPD.modal > div {
  padding: 30px 20px 15px 20px;
  margin: 4rem auto;
  text-align: left;
}

#modalCalcDesconto .close {
  position: absolute;
  width: 30px;
  right: 2px;
  top: -4px;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  background: #ff4545;
  border-radius: 50%;
  font-size: 16px;
  color: #8d0000;
  cursor: pointer;
}

.close {
  position: absolute;
  width: 30px;
  right: -15px;
  top: -20px;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  background: #ff4545;
  border-radius: 50%;
  font-size: 16px;
  color: #8d0000;
  cursor: pointer;
}

.close i {
  color: var(--white);
}

.login-user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -55px;
  right: 150px;
  background-color: var(--orange);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  text-align: center;
}

.login-user-icon i {
  color: var(--white);
  font-size: 4rem;
}

/* MODAL LOGIN */
div#modalLogin form {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

div#modalLogin form .button-form-submit {
  text-align: center;
}

div#modalLogin form .button-form-submit .btn-login {
  background-color: transparent;
  border-radius: 2rem;
  color: var(--orange);
  border-color: var(--orange);
  width: 100%;
}

div#modalLogin form .button-form-submit .btn-login:hover {
  background-color: var(--orange);
  color: var(--white);
}

div#modalLogin form .button-form-submit button.forgot-password {
  color: var(--grey);
  text-decoration: none;
  background: transparent;
  border: none;
}

div#modalLogin form .button-form-submit button.forgot-password:hover {
  color: var(--orange);
}

/* MODAL CALCULO DESCONTO */
div#modalCalcDesconto form {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

div#modalCalcDesconto form .button-form-submit {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

div#modalCalcDesconto form .button-form-submit .btn-calcdesconto {
  background-color: transparent;
  border-radius: 2rem;
  color: var(--primary-color);
  border-color: var(--primary-color);
  width: 100%;
}

div#modalCalcDesconto form .button-form-submit .btn-calcdesconto:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

div#modalCalcDesconto form .button-form-submit a {
  color: var(--grey);
  text-decoration: none;
}

div#modalCalcDesconto form .button-form-submit a:hover {
  color: var(--orange);
}

ol#doubt-list > * {
  margin: 0.5rem 0;
}

/* MODAL forgot */
div#modalForgotPassword form {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

div#modalForgotPassword form .button-form-submit .btn-forgot {
  background-color: transparent;
  border-radius: 2rem;
  color: var(--orange);
  border-color: var(--orange);
  width: 100%;
}

div#modalForgotPassword form .button-form-submit .btn-forgot:hover {
  background-color: var(--orange);
  color: var(--white);
}

/* FORM */
.innerform-flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.innerform-flexbox .item-innerform-flexbox {
  order: 3;
  flex-grow: 1;
  align-self: center;
}

/* COOKIES */
#cookies {
  display: none;
}

.cookies {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-top: 1px solid var(--primary-color);
  background-color: #fff;
  color: var(--primary-color);
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 0.5rem 2rem;
  z-index: 999;
}

.cookies .inner-cookies {
  order: 2;
  flex-grow: 1;
  align-self: center;
}

.cookies .inner-cookies a {
  color: var(--primary-color);
}

.cookies .inner-cookies a:hover {
  color: var(--orange);
}

/* Responsive */
@media only screen and (max-width: 992px) {
  #logoFixed.my-logo {
    width: 5rem;
  }

  .my-navbar {
    display: none;
  }

  /* .my-navbar-fixed {
    display: inline !important;
    z-index: 999;
  } */

  #banners {
    padding-top: 4rem;
  }

  #commercial .commercial-container .commercial-img {
    width: 25rem;
  }

  footer .row > div {
    margin: 1rem 0;
  }

  #modalCalcDesconto.modal > div {
    width: 100%;
    margin: 1rem auto;
    border: 1px var(--primary-color) solid;
  }
}
