@import "../colors.css";

#about-frota-card {
  text-align: center;
  color: var(--primary-color);
}

#about-frota-card p {
  color: var(--grey);
}

#options {
  text-align: center;
  background-color: var(--grey-light);
  color: var(--primary-color);
}

#options .container .row .col-lg-3 {
  margin: 1rem 0;
}

#options .container .row .col-lg-3 div {
  padding-top: 1rem;
}

#benefits-frota {
  color: var(--primary-color);
  text-align: left;
  align-items: center;
}

#benefits-frota .container .row div img {
  width: 30rem;
  float: right;
}

#how-works-apromsnet {
  text-align: center;
  color: var(--primary-color);
}

#how-works-apromsnet .container .row div {
  margin: 1rem 0;
}

#security-practicality {
  background-color: var(--grey-light);
  text-align: center;
  color: var(--primary-color);
}

#security-practicality .container .row .item-security-practicality {
  margin: 1rem 0;
}

#security-practicality .container .row .item-security-practicality:first-child {
  border-right: 1px solid var(--text-grey);
}

#security-practicality .container .row .item-security-practicality:last-child {
  border-left: 1px solid var(--text-grey);
}

#security-practicality
  .container
  .row
  .item-security-practicality
  div:first-child {
  margin-bottom: 4rem;
}

#security-practicality .container .row .item-security-practicality div img {
  margin-bottom: 0.5rem;
}

#security-practicality .container .row .item-security-practicality div ul {
  text-align: left;
  color: var(--text-grey);
  margin-left: 5%;
}

#contacts {
  background-color: var(--orange);
  color: var(--white);
}

#contacts .container .row {
  align-items: center;
}

/* BUTTONS */
.btn-contacts {
  color: var(--white);
  border-radius: 2rem;
  border-color: var(--white);
  background-color: transparent;
}

.btn-contacts:hover {
  background-color: var(--white);
  color: var(--orange);
}

.btn-talk-to-team {
  border-radius: 2rem;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn-talk-to-team:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

/* RESPONSIVE */

@media only screen and (max-width: 992px) {
  #security-practicality
    .container
    .row
    .item-security-practicality:first-child {
    border-right: none;
  }

  #security-practicality
    .container
    .row
    .item-security-practicality:last-child {
    border-left: none;
  }
}
