@import "../colors.css";

#about-frete-card {
  text-align: center;
}

#about-frete-card .text-about-frete-card {
  margin-top: 1rem;
  color: var(--text-grey);
  font-size: 18px;
}

#benefits-frete-card {
  text-align: center;
  background-color: var(--grey-light);
  color: var(--primary-color);
}

#benefits-frete-card .container .row .col-lg-3 {
  margin: 1rem 0;
}

#benefits-frete-card .container .row .col-lg-3 div {
  padding-top: 1rem;
}

#pro-frete-card .img-cell-frete-card {
  width: 90%;
  float: right;
}

#pro-frete-card .container .row .col-lg-6 > div {
  margin: 1.5rem 0;
}

.btn-talk-to-team {
  border-radius: 2rem;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn-talk-to-team:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

#pro-benefits-frete-card img {
  width: 7%;
}

#pro-benefits-frete-card span {
  font-size: 24px;
}

#pro-benefits-frete-card .container .row .row-item {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

#pro-benefits-frete-card .container .row .text-pro-benefits {
  color: var(--text-grey);
  font-size: 18px;
  text-align: center;
}

#contacts {
  background-color: var(--orange);
  color: var(--white);
}

#contacts .container .row {
  align-items: center;
}

.btn-contacts {
  color: var(--white);
  border-radius: 2rem;
  border-color: var(--white);
  background-color: transparent;
}

.btn-contacts:hover {
  background-color: var(--white);
  color: var(--orange);
}
